---
import astro from "@/assets/88x31/astro.png"
import asya from "@/assets/88x31/asya_cowl.png"
import c1oudy from "@/assets/88x31/c1oudy.png"
import catboybinary from "@/assets/88x31/catboybinary.png"
import edward from "@/assets/88x31/edward.gif"
import eepy from "@/assets/88x31/eepy.png"
import elytrium from "@/assets/88x31/elytrium.png"
import fckgoogle from "@/assets/88x31/fckgoogle.gif"
import flipper from "@/assets/88x31/flipper.gif"
import gapp from "@/assets/88x31/gapp.gif"
import gooslime from "@/assets/88x31/gooslime.gif"
import izotopev69 from "@/assets/88x31/izotopev69.png"
import jsopn from "@/assets/88x31/jsopn.gif"
import kbity from "@/assets/88x31/kbity.png"
import keetsta from "@/assets/88x31/keetsta.png"
import lumaeris from "@/assets/88x31/lumaeris.png"
import manule228 from "@/assets/88x31/manule228.gif"
import milkcool from "@/assets/88x31/milkcool.gif"
import myslivets from "@/assets/88x31/myslivets.png"
import nichind from "@/assets/88x31/nichind.gif"
import nika from "@/assets/88x31/nika.png"
import pastcard from "@/assets/88x31/pastcard.gif"
import sanspie from "@/assets/88x31/sanspie.gif"
import sapphic from "@/assets/88x31/sapphic.png"
import senko from "@/assets/88x31/senko.gif"
import senkodigital from "@/assets/88x31/senkodigital.png"
import teidesu from "@/assets/88x31/teidesu.png"
import transmute from "@/assets/88x31/transmute.png"
import vc from "@/assets/88x31/vc.gif"
import FriendButton from "@/components/blocks/FriendButton.astro"
import Marquee from "@/components/blocks/Marquee.astro"
import MyFriendButton from "@/components/blocks/MyFriendButton.astro"
---

<div class="flex items-center flex-nowrap [image-rendering:pixelated]">
    <MyFriendButton />
    <div class="flex-1 relative">
        <div class="absolute inset-y-0 left-0 pointer-events-none w-12 bg-linear-to-r from-white dark:from-zinc-950 to-transparent z-10" />
        <div class="absolute inset-y-0 right-0 pointer-events-none w-12 bg-linear-to-l from-white dark:from-zinc-950 to-transparent z-10" />
        <Marquee height={31} repeatCount={1} animationDuration={120}>
            <div class="flex items-center flex-nowrap gap-2 w-max">
                <FriendButton src={keetsta.src} href="https://keetsta.me" name="keetsta" />
                <FriendButton src={senko.src} href="https://senko.dev" name="senkodev" />
                <FriendButton src={jsopn.src} href="https://jsopn.com/?glunging=true" name="jsopn" />
                <FriendButton src={asya.src} href="https://asyasocute.online" name="asya" />
                <FriendButton src={catboybinary.src} href="https://catboy.page/" name="catboybinary" />
                <FriendButton src={c1oudy.src} href="https://c1oudy.otlegacy.com/" name="c1oudy" />
                <FriendButton src={teidesu.src} href="https://tei.su/" name="alina" />
                <FriendButton src={transmute.src} href="https://std.mem.transmute.me/" name="polina" />
                <FriendButton src={sanspie.src} href="https://about.akarpov.ru" name="sanspie" />
                <FriendButton src={gooslime.src} href="https://gooslime.neocities.org/" name="gooslime" />
                <FriendButton src={nika.src} href="https://nikableh.moe" name="nika" />
                <FriendButton src={myslivets.src} href="https://myslivets.com" name="myslivets" />
                <FriendButton src={vc.src} href="https://veselcraft.ru/" name="veselcraft" />
                <FriendButton src={sapphic.src} href="https://sapphic.moe" name="sapphic angels" />
                <FriendButton src={gapp.src} href="https://gapp.pp.ua" name="gapp" />
                <FriendButton src={pastcard.src} href="https://pastcard.su" name="pastcard" />
                <FriendButton src={milkcool.src} href="https://milkcool.ru/" name="lily" />
                <FriendButton src={edward.src} href="https://edwardcode.net" name="edward" />
                <FriendButton src={manule228.src} href="https://manule228.lh1.in" name="manule228" />
                <FriendButton src={izotopev69.src} href="https://izotopev69.neocities.org/" name="izotopev69" />
                <FriendButton src={eepy.src} href="https://eepy.today" name="wappx" />
                <FriendButton src={lumaeris.src} href="https://lumaeris.com" name="lumaeris" />
                <FriendButton src={kbity.src} href="https://slightlycat.neocities.org/" name="slightly feline" />
                <FriendButton src={fckgoogle.src} href="https://fuckyougoogle.xyz/" name="lain" />
                <FriendButton src={nichind.src} href="https://nichind.dev/" name="nichind" />
                <FriendButton src={elytrium.src} href="https://elytrium.com" name="elytrium" />
                <FriendButton src={senkodigital.src} href="https://senko.digital" name="senko://digital" />
                <FriendButton src={flipper.src} href="https://flipperzero.one/" name="flipper" />
                <FriendButton src={astro.src} href="https://astro.build" name="astro.build" />
            </div>
        </Marquee>
    </div>
</div>
