---
import senko from "@/assets/88x31/senko.gif"
import jsopn from "@/assets/88x31/jsopn.gif"
import asya from "@/assets/88x31/asya_cowl.png"
import catboybinary from "@/assets/88x31/catboybinary.png"
import c1oudy from "@/assets/88x31/c1oudy.png"
import teidesu from "@/assets/88x31/teidesu.png"
import transmute from "@/assets/88x31/transmute.png"
import sanspie from "@/assets/88x31/sanspie.gif"
import gooslime from "@/assets/88x31/gooslime.gif"
import nika from "@/assets/88x31/nika.png"
import myslivets from "@/assets/88x31/myslivets.png"
import vc from "@/assets/88x31/vc.gif"
import sapphic from "@/assets/88x31/sapphic.png"
import gapp from "@/assets/88x31/gapp.gif"
import pastcard from "@/assets/88x31/pastcard.gif"
import milkcool from "@/assets/88x31/milkcool.gif"
import edward from "@/assets/88x31/edward.gif"
import manule228 from "@/assets/88x31/manule228.gif"
import izotopev69 from "@/assets/88x31/izotopev69.png"
import eepy from "@/assets/88x31/eepy.png"
import lumaeris from "@/assets/88x31/lumaeris.png"
import kbity from "@/assets/88x31/kbity.png"
import fckgoogle from "@/assets/88x31/fckgoogle.gif"
import elytrium from "@/assets/88x31/elytrium.png"
import flipper from "@/assets/88x31/flipper.gif"
import astro from "@/assets/88x31/astro.png"

import FriendButton from "@/components/blocks/FriendButton.astro"
import MyFriendButton from "@/components/blocks/MyFriendButton.astro"
---

<div class="flex justify-center items-center flex-wrap gap-2 [image-rendering:pixelated]">
    <MyFriendButton />
    <FriendButton src={senko.src} href="https://senko.dev" name="senkodev" />
    <FriendButton src={jsopn.src} href="https://jsopn.com/?glunging=true" name="jsopn" />
    <FriendButton src={asya.src} href="https://asyasocute.online" name="asya" />
    <FriendButton src={catboybinary.src} href="https://catboy.page/" name="catboybinary" />
    <FriendButton src={c1oudy.src} href="https://c1oudy.otlegacy.com/" name="c1oudy" />
    <FriendButton src={teidesu.src} href="https://tei.su/" name="alina" />
    <FriendButton src={transmute.src} href="https://tei.su/" name="polina" />
    <FriendButton src={sanspie.src} href="https://about.akarpov.ru" name="sanspie" />
    <FriendButton src={gooslime.src} href="https://gooslime.neocities.org/" name="gooslime" />
    <FriendButton src={nika.src} href="https://nikableh.moe" name="nika" />
    <FriendButton src={myslivets.src} href="https://myslivets.com" name="myslivets" />
    <FriendButton src={vc.src} href="https://veselcraft.ru/" name="veselcraft" />
    <FriendButton src={sapphic.src} href="https://sapphic.moe" name="sapphic angels" />
    <FriendButton src={gapp.src} href="https://gapp.pp.ua" name="gapp" />
    <FriendButton src={pastcard.src} href="https://pastcard.su" name="pastcard" />
    <FriendButton src={milkcool.src} href="https://milkcool.ru/" name="lily" />
    <FriendButton src={edward.src} href="https://edwardcode.net" name="edward" />
    <FriendButton src={manule228.src} href="https://manule228.lh1.in" name="manule228" />
    <FriendButton src={izotopev69.src} href="https://izotopev69.neocities.org/" name="izotopev69" />
    <FriendButton src={eepy.src} href="https://eepy.today" name="wappx" />
    <FriendButton src={lumaeris.src} href="https://lumaeris.com" name="lumaeris" />
    <FriendButton src={kbity.src} href="https://slightlycat.neocities.org/" name="slightly feline" />
    <FriendButton src={fckgoogle.src} href="https://fuckyougoogle.xyz/" name="lain" />
    <FriendButton src={elytrium.src} href="https://elytrium.com" name="elytrium" />
    <FriendButton src={flipper.src} href="https://flipperzero.one/" name="flipper" />
    <FriendButton src={astro.src} href="https://astro.build" name="astro.build" />
</div>