---
import senko from "@/assets/88x31/senko.gif"
import jsopn from "@/assets/88x31/jsopn.gif"
import asya from "@/assets/88x31/asya_cowl.png"
import catboybinary from "@/assets/88x31/catboybinary.png"
import teidesu from "@/assets/88x31/teidesu.png"
import sanspie from "@/assets/88x31/sanspie.gif"
import gooslime from "@/assets/88x31/gooslime.gif"
import nika from "@/assets/88x31/nika.png"
import myslivets from "@/assets/88x31/myslivets.png"
import vc from "@/assets/88x31/vc.gif"
import sapphic from "@/assets/88x31/sapphic.png"
import gapp from "@/assets/88x31/gapp.gif"
import pastcard from "@/assets/88x31/pastcard.gif"
import astro from "@/assets/88x31/astro.png"

import FriendButton from "@/components/blocks/FriendButton.astro"
import MyFriendButton from "@/components/blocks/MyFriendButton.astro"
---

<div class="flex justify-center items-center flex-wrap gap-2 [image-rendering:pixelated]">
    <MyFriendButton />
    <FriendButton src={senko.src} href="https://senko.dev" name="senkodev" />
    <FriendButton src={jsopn.src} href="https://jsopn.com/?glunging=true" name="jsopn" />
    <FriendButton src={asya.src} href="https://asyasocute.online" name="asya" />
    <FriendButton src={catboybinary.src} href="https://catboy.page/" name="catboybinary" />
    <FriendButton src={teidesu.src} href="https://tei.su/" name="alina" />
    <FriendButton src={sanspie.src} href="https://about.akarpov.ru" name="sanspie" />
    <FriendButton src={gooslime.src} href="https://gooslime.neocities.org/" name="gooslime" />
    <FriendButton src={nika.src} href="https://nikableh.moe" name="nika" />
    <FriendButton src={myslivets.src} href="https://myslivets.com" name="myslivets" />
    <FriendButton src={vc.src} href="https://veselcraft.ru/" name="veselcraft" />
    <FriendButton src={sapphic.src} href="https://sapphic.moe" name="sapphic angels" />
    <FriendButton src={gapp.src} href="https://gapp.pp.ua" name="gapp" />
    <FriendButton src={pastcard.src} href="https://pastcard.su" name="pastcard" />
    <FriendButton src={astro.src} href="https://astro.build" name="astro.build" />
</div>